@import '../../../../../scss/common';

.home {
  position: relative;
  overflow: hidden;
  .container {
    @extend %container;
    .testimonials {
      display: grid;
      grid-template-columns: 1fr;
      gap: calc($gap * 2.5);
      &__content {
        display: flex;
        flex-direction: column;
        gap: $gap;
        h4 {
          color: $color-light;
        }
      }
      &__carousel {
        .carousel {
          position: relative;
          height: 400px;
          @include lg {
            height: 360px;
          }
          @include sm {
            height: 520px;
          }
          &__items {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            gap: calc($gap * 2);
            transition: all 0.5s ease-in-out;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              cursor: pointer;
              z-index: 3;
            }
            &-item {
              @include ul-min {
                width: 400px;
              }
              @include ul-lg {
                width: 460px;
              }
            }
          }
        }
        .indicators {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: calc($gap / 2);
          transition: all 0.5s ease-in;
          &__item {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #7F8286;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            &.active {
              background-color: #d9d9d9;
            }
          }
        }
      }
    }
  }
  .wrapper {
    @extend %wrapper;
    background-color: $color-primary;
  }
}