<div class="home">
  <div class="container">
    <section class="testimonials">
      <div class="testimonials__content">
        <app-subtitle [text]="'testimonial'" [textColor]="'white'"></app-subtitle>
        <h4>What our clients say</h4>
        <p>We love to hear from customers, so please leave a comment or say hello in an email.</p>
      </div>
      <div class="testimonials__carousel" #carousel>
        <app-testimonial-carousel></app-testimonial-carousel>
      </div>
    </section>
  </div>
  <div class="wrapper"></div>
</div>