<div class="home">
  <div class="container">
    <div class="hero">
      <div class="hero__content">
        <div class="hero__content-title">
          <h1 #title>Welcome to <br> Restaurant</h1>
          <p #subTitle>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy .</p>
        </div>
        <div class="hero__content-btn" #menuBtn>
          <app-btn-primary [btnText]="'View Menu'" [textColor]="'white'"></app-btn-primary>
        </div>
      </div>
      <div class="hero__image" #image>
        <div class="hero__image-main">
          <img src="../../../../../assets/images/home/hero/restaurant.jpg" alt="">
        </div>
        <div class="hero__image-secondary">
          <img src="../../../../../assets/images/home/hero/pattern.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper"></div>
</div>
