<div class="container">
  <section class="offer">
    <div class="offer__title">
      <div class="offer__title-subtitle">
        <app-subtitle [text]="'offer'"></app-subtitle>
      </div>
      <div class="offer__title-title">
        <h4>Our special Offer dishes</h4>
        <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content making.</p>
      </div>
    </div>
    <div class="offer__cards">
      <div class="offer__cards-item" #leftCard>
        <div class="card">
          <div class="card__content">
            <div class="card__content-price">
              <div class="text">
                <span>ONLY</span>
                <p><span>$</span><span>10</span></p>
              </div>
            </div>
            <div class="card__content-title">
              <app-subtitle [text]="'50% offer going'" [borderColor]="'primary'"></app-subtitle>
              <h4>Chicken Burger</h4>
              <p>Lorem Ipsum is that it has a more-or-less normal</p>
            </div>
          </div>
          <div class="card__image">
            <img src="../../../../../assets/images/home/offer/burger.png" alt="Burger image">
          </div>
        </div>
      </div>
      <div class="offer__cards-item" #rightCard>
        <div class="card">
          <div class="card__content">
            <div class="card__content-price">
              <div class="text">
                <span>ONLY</span>
                <p><span>$</span><span>9</span></p>
              </div>
            </div>
            <div class="card__content-title">
              <app-subtitle [text]="'50% offer going'" [borderColor]="'primary'"></app-subtitle>
              <h4>Chicken Pizza</h4>
              <p>Lorem Ipsum is that it has a more-or-less normal</p>
            </div>
          </div>
          <div class="card__image">
            <img src="../../../../../assets/images/home/offer/pizza.png" alt="Pizza image">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>