<div class="section" #reservationComponent>
  <div class="container">
    <section class="reservation" [@fromLeft]="animationState$ | async">
      <div class="resrvation__title">
        <div class="reservation__title-subtitle">
          <app-subtitle [text]="'reservation'" [textColor]="'white'"></app-subtitle>
        </div>
        <div class="reservation__title-title">
          <h3>This evening will be great!</h3>
        </div>
      </div>
      <div class="reservation__text">
        <p>Lorem Ipsum is that it has a more-or-less normal look like readable English. </p>
      </div>
      <div class="reservation__btn">
        <app-btn-primary routerLink="/booking" [btnText]="'Book a Table'" [textColor]="'accent'"></app-btn-primary>
      </div>
    </section>
  </div>
  <div class="wrapper"></div>
</div>