<div class="header">
  <div class="container">
    <div class="content">
      <div class="content__call" #callBtn>
        <app-btn-primary [btnText]="'Call - 123 456 78'" [textColor]="'white'"></app-btn-primary>
      </div>
      <div class="content__logo" #logo>
        <img src="../../assets/images/logo/logo.png" alt="logo">
      </div>
      <div class="content__reservation" #reservationBtn>
        <app-btn-accent [btnText]="'Reservation'"></app-btn-accent>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
  <div class="wrapper"></div>
</div>