<div class="header">
  <div class="header__wrapper"></div>
  <div class="header__call" #callBtn>
    <app-btn-primary [btnText]="'Call - 123 456 78'" [textColor]="'white'"></app-btn-primary>
  </div>
  <div class="header__logo" #logo>
    <img src="../../assets/images/logo/logo.png" alt="logo">
  </div>
  <div class="header__reservation" #reservationBtn>
    <app-btn-accent [btnText]="'Reservation'"></app-btn-accent>
  </div>
  <div class="header__navbar">
    <app-navbar></app-navbar>
  </div>
</div>