<div class="section">
  <div class="container">
    <section class="footer">
      <div class="footer__top">
        <div class="footer__top-link">
          <a href="https://instagram.com" target="_blank">Instagram Feed</a>
        </div>
        <div class="footer__top-logo">
          <img src="../../assets/images/logo/logo.png" alt="logo">
        </div>
        <div class="footer__top-socials">
          <app-socials></app-socials>
        </div>
      </div>
      <div class="footer__bottom">
        <app-footer-left></app-footer-left>
        <app-footer-middle></app-footer-middle>
        <app-footer-right></app-footer-right>
      </div>
    </section>
  </div>
  <div class="wrapper"></div>
</div>