@import '../../scss/common';

.section {
  position: relative;
  .container {
    @extend %container;
    .footer {
      display: grid;
      gap: calc($gap * 2);
      &__top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        @include md {
          grid-template-columns: 1fr;
          grid-template-rows: max-content 1fr max-content;
          gap: $gap;
        }
        &-link {
          @include md {
            justify-self: center;
          }
          a {
            text-decoration: underline;
            color: $color-light;
          }
        }
        &-logo {
          @include md {
            justify-self: center;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &-socials {
          justify-self: end;
          @include md {
            justify-self: center;
          }
        }
      }
      &__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        gap: calc($gap * 2);
        @include lg {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          justify-content: center;
        }
      }
    }
  }

  .wrapper {
    @extend %wrapper;
    background-color: $color-primary;
  }
}