@import '../../../scss/common';

.item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  gap: $gap;
  &__image {
    background-color: #A0AEAF;
    max-height: 450px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    justify-self: center;
    text-align: center;
    &-job {
      span {
        color: $color-gray;
      }
    }
  }
}