<div class="home">
  <div class="container">
    <section class="about">
      <div class="about__wrapper"></div>
      <div class="about__contacts" #contactItems>
        <div class="about__contacts-item" #contactItem>
          <div class="icon">
            <img src="../../../../../assets/images/home/about/location.svg" alt="location">
          </div>
          <div class="text">
            <h5>Locate Us</h5>
            <p>Riverside 25, San Francisco, California</p>
          </div>
        </div>
        <div class="about__contacts-item" #contactItem>
          <div class="icon">
            <img src="../../../../../assets/images/home/about/hours.svg" alt="location">
          </div>
          <div class="text">
            <h5>Open Hours</h5>
            <p>Mon to Fri 9:00 AM - 9:00 PM</p>
          </div>
        </div>
        <div class="about__contacts-item" #contactItem>
          <div class="icon">
            <img src="../../../../../assets/images/home/about/reserve.svg" alt="location">
          </div>
          <div class="text">
            <h5>Reservation</h5>
            <p>restaurant@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="about__story">
        <div class="about__story-image" #storyImage>
          <img src="../../../../../assets/images/home/about/image.png" alt="restaurant">
        </div>
        <div class="about__story-line"></div>
        <div class="about__story-content">
          <div class="title">
            <h4>The Story</h4>
            <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content gfshere', makinlook like readable English. Many desktop publishing packages.</p>
          </div>
          <div class="years" #years>
            <div class="years__left">
              <h4>1995</h4>
              <p>Lorem Ipsum is that it has a more-or-less normal distribution </p>
            </div>
            <div class="years__right">
              <h4>2021</h4>
              <p>Lorem Ipsum is that it has a more-or-less normal Content content</p>
            </div>
          </div>
          <div class="sign" #sign>
            <h6>JOSEFINE</h6>
            <img src="../../../../../assets/images/home/about/sign.png" alt="sign">
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper"></div>
</div>