<div class="container">
  <section class="feature">
    <div class="feature__block">
      <div class="feature__block-content">
        <div class="subtitle">
          <app-subtitle [text]="'feature'"></app-subtitle>
        </div>
        <div class="title">
          <h3>Always fresh ingredients</h3>
        </div>
        <div class="text">
          <p>The people, food and the prime locations make Rodich the perfect place good friends & family to come together and have great time.</p>
        </div>
        <div class="btn">
          <app-btn-primary [btnText]="'View Menu'" [textColor]="'accent'"></app-btn-primary>
        </div>
      </div>
      <div class="feature__block-image">
        <img src="../../../../../assets/images/gallery/feature/image1.jpg" alt="Image">
      </div>
    </div>
    <div class="feature__block">
      <div class="feature__block-image">
        <img src="../../../../../assets/images/gallery/feature/image2.jpg" alt="Image">
      </div>
      <div class="feature__block-content">
        <div class="subtitle">
          <app-subtitle [text]="'feature'"></app-subtitle>
        </div>
        <div class="title">
          <h3>We invite you to visit our restaurant</h3>
        </div>
        <div class="text">
          <p>Every time you perfectly dine with us, it should happy for great inspired food in an environment designed with individual touches unique to the local area.</p>
        </div>
        <div class="btn">
          <app-btn-primary [btnText]="'View Menu'" [textColor]="'accent'"></app-btn-primary>
        </div>
      </div>
    </div>
  </section>
</div>