<div class="container">
  <section class="reservation">
    <div class="reservation__content">
      <div class="reservation__content-title">
        <div class="subtitle">
          <app-subtitle [text]="'reservation'"></app-subtitle>
        </div>
        <div class="title">
          <h4>Book your table now</h4>
        </div>
        <div class="text">
          <p>The people, food and the prime locations make Rodich the perfect place good friends & family to come together and have great time.</p>
        </div>
      </div>
      <div class="reservation__content-form">
        <form [formGroup]="reservationForm">
          <div class="col">
            <input type="text" placeholder="Name" formControlName="name">
            <app-validation-message *ngIf="reservationForm.get('name')?.hasError('required') && reservationForm.get('name')?.touched" 
            [message]="'Name is required !'"></app-validation-message>
            <app-validation-message *ngIf="reservationForm.get('name')?.hasError('minlength')" 
            [message]="'Min 4 characters !'"></app-validation-message>
          </div>
          <div class="col">
            <input type="email" placeholder="Email" formControlName="email">
            <app-validation-message *ngIf="reservationForm.get('email')?.hasError('required') && reservationForm.get('email')?.touched" 
            [message]="'Email is required !'"></app-validation-message>
            <app-validation-message *ngIf="reservationForm.get('email')?.hasError('email')" 
            [message]="'Invalid email !'"></app-validation-message>
          </div>
          <div class="col">
            <input type="number" placeholder="Phone" formControlName="phone">
            <app-validation-message *ngIf="reservationForm.get('phone')?.hasError('required') && reservationForm.get('phone')?.touched" 
            [message]="'Phone number is required !'"></app-validation-message>
          </div>
          <div class="col">
            <input type="date" placeholder="Date" formControlName="date">
            <app-validation-message *ngIf="reservationForm.get('date')?.hasError('required') && reservationForm.get('date')?.touched" 
            [message]="'Visiting date is required !'"></app-validation-message>
          </div>
          <div class="col">
            <input type="time" placeholder="Time" formControlName="timing">
            <app-validation-message *ngIf="reservationForm.get('timing')?.hasError('required') && reservationForm.get('timing')?.touched" 
            [message]="'Visiting time is required !'"></app-validation-message>
          </div>
          <div class="col">
            <input type="number" placeholder="Person" min="1" formControlName="person">
            <app-validation-message *ngIf="reservationForm.get('person')?.hasError('required') && reservationForm.get('person')?.touched" 
            [message]="'Number of guests is required !'"></app-validation-message>
          </div>
        </form>
      </div>
      <div class="reservation__content-btn">
        <app-btn-primary [btnText]="'Book a Table'" [textColor]="'accent'"></app-btn-primary>
      </div>
    </div>
    <div class="reservation__image">
      <img src="../../../../../assets/images/booking/image1.png" alt="Booking image">
    </div>
  </section>
</div>