@import '../../../../../scss/common';

.container {
  @extend %container;
  .blog {
    display: grid;
    gap: calc($gap * 2);
    &__header {
      justify-self: center;
      text-align: center;
      display: grid;
      gap: calc($gap / 2);
      &-text {
        max-width: 780px;
        p {
          color: $color-gray;
        }
      }
    }
    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: calc($gap * 2.5);
      @include lg {
        gap: $gap;
      }
      @include md {
        grid-template-columns: 1fr;
      }
    }
    &__btns {
      display: flex;
      justify-content: center;
      gap: $gap;
    }
  }
}