<div class="home">
  <div class="container">
    <section class="services">
      <div class="services__content">
        <div class="services__content-subtitle">
          <app-subtitle [text]="'what we offer'" [textColor]="'white'"></app-subtitle>
        </div>
        <div class="services__content-title">
          <h4>Our Great Services</h4>
        </div>
        <div class="services__content-text">
          <p>Lorem Ipsum is that it has a more-or-less normal distribution content making it look like readable English. </p>
        </div>
      </div>
      <div class="services__icons">
        <div class="services__icons-icon">
          <div class="content">
            <div class="content__image">
              <img src="../../../../../assets/images/home/services/opened.svg" alt="Open icon">
            </div>
            <div class="content__title">
              <h6>Opened 24/7</h6>
            </div>
          </div>
        </div>
        <div class="services__icons-icon">
          <div class="content">
            <div class="content__image">
              <img src="../../../../../assets/images/home/services/menus.svg" alt="Menus icon">
            </div>
            <div class="content__title">
              <h6>Special Menus</h6>
            </div>
          </div>
        </div>
        <div class="services__icons-icon">
          <div class="content">
            <div class="content__image">
              <img src="../../../../../assets/images/home/services/delivery.svg" alt="Delivery icon">
            </div>
            <div class="content__title">
              <h6>Home Delivery</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper"></div>
</div>