@import '../../../scss/common';

.wrapper {
  position: absolute;
  z-index: 2;
  bottom: -30px;
  background-color: antiquewhite;
  padding: 5px 10px;
  animation: appearance 0.5s forwards;
  border-radius: 10px;
  .validation {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      transform: rotate(45deg) translateY(-100%);
      background-color: antiquewhite;
      z-index: -1;
    }
    &__text {
      color: black;
      font-size: 15px;
      font-style: italic;
    }
  }

  @keyframes appearance {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
}