@import '../../../scss/common';

.carousel {
  display: flex;
  flex-direction: column;
  gap: $gap;
  .wrapper {
    position: relative;
    height: 400px;
    transition: all 0.5s ease-in-out;
    @include lg {
      height: 360px;
    }
    @include sm {
      height: 520px;
    }
    .carousel__items {
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      gap: calc($gap * 2);
      transition: all 0.5s ease-in-out;
    }
  }
  &__indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc($gap / 2);
    transition: all 0.5s ease-in;
    &-item {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #7F8286;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      &.active {
        background-color: #d9d9d9;
      }
    }
  }
}