@import '../../../scss/common';

.subtitle {
  // position: relative;
  display: inline-block;
  border-top: 1px solid $color-accent;
  border-bottom: 1px solid $color-accent;
  padding: 5px 0;
  h6 {
    color: $color-primary;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    &.white {
      color: $color-light;
    }
  }
}