<div class="socials" #socials>
  <div class="socials__item">
    <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram" [ngClass]="textColor"></i></a>
  </div>
  <div class="socials__item">
    <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook" [ngClass]="textColor"></i></a>
  </div>
  <div class="socials__item">
    <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter" [ngClass]="textColor"></i></a>
  </div>
  <div class="socials__item">
    <a href="https://pinteret.com" target="_blank"><i class="fa-brands fa-pinterest" [ngClass]="textColor"></i></a>
  </div>
</div>