@import '../../../scss/common';

.socials {
  display: flex;
  align-items: center;
  gap: $gap;
  @include sm {
    gap: calc($gap / 2);
  }
  &__item {
    cursor: pointer;
    i {
      font-size: 25px;
      @include sm {
        font-size: 18px;
      }
      &.white {
        color: $color-light;
      }
      &.primary {
        color: $color-primary;
      }
    }
  }
}