<div class="container" #visitComponent>
  <section class="visit">
    <div class="visit__title">
      <div class="visit__title-subtitle">
        <app-subtitle [text]="'visit us!'"></app-subtitle>
      </div>
      <div class="visit__title-title">
        <h4>Come and visit our Branches</h4>
      </div>
    </div>
    <div class="visit__items">
      <div class="item" [@fromLeft]="animationState$ | async">
        <div class="content">
          <div class="content__title">
            <div class="content__title-title">
              <h5>Los Angeles, CA</h5>
            </div>
            <div class="content__title-subtitle">
              <span>Riverside 25, San Francisco California</span>
            </div>
          </div>
          <div class="content__contacts">
            <div class="content__contacts-item">
              <i class="fa-regular fa-envelope"></i>
              <span>contact@restaurantate.com</span>
            </div>
            <div class="content__contacts-item">
              <i class="fa-solid fa-phone"></i>
              <span>(487) 870 - 1087</span>
            </div>
          </div>
        </div>
        <div class="image">
          <img src="../../../../../assets/images/contact/image1.webp" alt="Image">
        </div>
      </div>
      <div class="item" [@fromRight]="animationState$ | async">
        <div class="content">
          <div class="content__title">
            <div class="content__title-title">
              <h5>San Francisco, CA</h5>
            </div>
            <div class="content__title-subtitle">
              <span>Riverside 25, San Francisco California</span>
            </div>
          </div>
          <div class="content__contacts">
            <div class="content__contacts-item">
              <i class="fa-regular fa-envelope"></i>
              <span>contact@restaurantate.com</span>
            </div>
            <div class="content__contacts-item">
              <i class="fa-solid fa-phone"></i>
              <span>(487) 870 - 1087</span>
            </div>
          </div>
        </div>
        <div class="image">
          <img src="../../../../../assets/images/contact/image2.webp" alt="Image">
        </div>
      </div>
    </div>
  </section>
</div>