@import '../../../../../scss/common';

.container {
  @extend %container;
  .choise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image content";
    gap: calc($gap * 2.5);
    @include xl {
      gap: $gap;
    }
    @include lg {
      grid-template-columns: 1fr;
      grid-template-areas: "content" "image";
    }
    &__image {
      grid-area: image;
      @include lg {
        justify-self: start;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__content {
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: calc($gap * 2);
      &-title {
        display: flex;
        flex-direction: column;
        gap: calc($gap / 2);
        .text {
          p {
            color: $color-gray;
          }
        }
      }
      &-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $gap;
        @include ul {
          grid-template-columns: 1fr;
        }
        .item {
          display: flex;
          padding: $gap;
          border: 2px solid #EAEAEA;  
          align-items: center;
          justify-content: flex-start;
          gap: calc($gap / 2);
          &__text {
            span {
              color: $color-primary;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}