<div class="container">
  <section class="gallery">
    <div class="gallery__title">
      <div class="gallery__title-subtitle">
        <app-subtitle [text]="'gallery'"></app-subtitle>
      </div>
      <div class="gallery__title-title">
        <h4>What We Make</h4>
      </div>
    </div>
    <div class="gallery__images">
      <div class="gallery__images-image">
        <img src="../../../../../assets/images/about/gallery/image1.jpg" alt="First gallery image">
      </div>
      <div class="gallery__images-image">
        <img src="../../../../../assets/images/about/gallery/image2.jpg" alt="Second gallery image">
      </div>
      <div class="gallery__images-image">
        <img src="../../../../../assets/images/about/gallery/image3.jpg" alt="Third gallery image">
      </div>
      <div class="gallery__images-image">
        <img src="../../../../../assets/images/about/gallery/image4.jpg" alt="Fourth gallery image">
      </div>
      <div class="gallery__images-image">
        <img src="../../../../../assets/images/about/gallery/image5.jpg" alt="Fifth gallery image">
      </div>
    </div>
  </section>
</div>