<div class="container">
  <section class="desserts">
    <div class="desserts__image">
      <img src="../../../../../assets/images/menu/dessert/dessertsimage.png" alt="Image">
    </div>
    <div class="desserts__menu">
      <div class="desserts__menu-title">
        <h4>Dessert</h4>
      </div>
      <div class="desserts__menu-item" *ngFor="let product of dessertData">
        <app-product-item
        [title]="product.title"
        [image]="product.image"
        [subtitle]="product.descr"
        [price]="product.price"></app-product-item>
      </div>
      <div class="desserts__menu-btn">
        <app-btn-primary [btnText]="'Order Now'" [textColor]="'accent'"></app-btn-primary>
      </div>
    </div>
  </section>
</div>