<div class="section" #countsComponent>
  <div class="container">
    <section class="counts">
      <div class="counts__item" [@item1]="animationState$ | async">
        <div class="counts__item-image">
          <img src="../../../../../assets/images/about/counts/count1.svg" alt="Count image">
        </div>
        <div class="counts__item-title">
          <h5>Fresh Product</h5>
        </div>
        <div class="counts__item-text">
          <p>Professional consider everyone
            probls small niche friendly.</p>
        </div>
        <div class="counts__item-link">
          <a>See more</a>
        </div>
      </div>
      <div class="counts__line" [@fadeIn]="animationState$ | async"></div>
      <div class="counts__item" [@item2]="animationState$ | async">
        <div class="counts__item-image">
          <img src="../../../../../assets/images/about/counts/count2.svg" alt="Count image">
        </div>
        <div class="counts__item-title">
          <h5>Skilled Chefs</h5>
        </div>
        <div class="counts__item-text">
          <p>Professional consider everyone
            probls small niche friendly.</p>
        </div>
        <div class="counts__item-link">
          <a>See more</a>
        </div>
      </div>
      <div class="counts__line" [@fadeIn]="animationState$ | async"></div>
      <div class="counts__item" [@item3]="animationState$ | async">
        <div class="counts__item-image">
          <img src="../../../../../assets/images/about/counts/count3.svg" alt="Count image">
        </div>
        <div class="counts__item-title">
          <h5>Drinks & Juices</h5>
        </div>
        <div class="counts__item-text">
          <p>Professional consider everyone
            probls small niche friendly.</p>
        </div>
        <div class="counts__item-link">
          <a>See more</a>
        </div>
      </div>
      <div class="counts__line" [@fadeIn]="animationState$ | async"></div>
      <div class="counts__item" [@item4]="animationState$ | async">
        <div class="counts__item-image">
          <img src="../../../../../assets/images/about/counts/count4.svg" alt="Count image">
        </div>
        <div class="counts__item-title">
          <h5>Vegan Cuisine</h5>
        </div>
        <div class="counts__item-text">
          <p>Professional consider everyone
            probls small niche friendly.</p>
        </div>
        <div class="counts__item-link">
          <a>See more</a>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper">
    <img src="../../../../../assets/images/about/counts/bg.jpg" alt="">
  </div>
</div>