<div class="container" #menuStartersComponent>
  <section class="starters">
    <div class="starters__image" [@fadeIn]="animationState$ | async">
      <img src="../../../../../assets/images/menu/starters/imagestarters.png" alt="Image starters">
    </div>
    <div class="starters__menu">
      <div class="starters__menu-title">
        <h4>Starters</h4>
      </div>
      <div class="starters__menu-item" *ngFor="let product of menuStarter"
      [@fromRight]="animationState$ | async">
        <app-product-item
        [image]="product.image"
        [title]="product.title"
        [subtitle]="product.descr"
        [price]="product.price"></app-product-item>
      </div>
      <div class="starters__menu-btn" [@fromBottom]="animationState$ | async">
        <app-btn-primary [btnText]="'Order Now'" [textColor]="'accent'"></app-btn-primary>
      </div>
    </div>
  </section>
</div>