<div class="burger" [class.active]="isActive" (click)="activeBurger()">
  <div class="burger__icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="menu" [class.active]="isActive">
  <a routerLink="home" class="menu__link">Home</a>
  <a routerLink="about" class="menu__link">About</a>
  <a routerLink="about" class="menu__link">Menu</a>
  <a routerLink="booking" class="menu__link">Reservation</a>
  <a routerLink="gallery" class="menu__link">Gallery</a>
  <a routerLink="blog" class="menu__link">Blog</a>
  <a routerLink="contact" class="menu__link">Contact</a>
</div>