<div class="container" #skillComponent>
  <section class="skill">
    <div class="skill__content" [@fromLeft]="animationState$ | async">
      <div class="title">
        <div class="title__subtitle">
          <app-subtitle [text]="'best chefs'"></app-subtitle>
        </div>
        <div class="title__title">
          <h4>Only Skilled Team</h4>
        </div>
        <div class="title__text">
          <p>Bring tothe table survival strategies to ensured proactived domination At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined  touchpoints for offshoring.</p>
        </div>
      </div>
      <div class="items">
        <div class="items__item">
          <div class="items__item-title">
            <h5>Experienced</h5>
          </div>
          <div class="items__item-bar">
            <div class="bar experienced"></div>
          </div>
        </div>
        <div class="items__item">
          <div class="items__item-title">
            <h5>Professionalism</h5>
          </div>
          <div class="items__item-bar">
            <div class="bar professionalism"></div>
          </div>
        </div>
        <div class="items__item">
          <div class="items__item-title">
            <h5>Creative</h5>
          </div>
          <div class="items__item-bar">
            <div class="bar creative"></div>
          </div>
        </div>
      </div>
      <div class="btn">
        <app-btn-primary routerLink="/menu" [btnText]="'See al dishes'" [textColor]="'accent'"></app-btn-primary>
      </div>
    </div>
    <div class="skill__image" [@fadeIn]="animationState$ | async">
      <img src="../../../../../assets/images/chefs/image.webp" alt="Image">
    </div>
  </section>
</div>