<div class="container">
  <section class="images">
   <div class="images__items">
    <div class="images__items-item">
      <div class="wrapper">
        <h4>Indian Pasta</h4>
        <span>Recipes</span>
      </div>
      <img src="../../../../../assets/images/gallery/images/pasta.jpg" alt="Pasta">
    </div>
    <div class="images__items-item">
      <div class="wrapper">
        <h4>Vegan Pizza</h4>
        <span>Main Course</span>
      </div>
      <img src="../../../../../assets/images/gallery/images/pizza.jpg" alt="Pizza">
    </div>
    <div class="images__items-item">
      <div class="wrapper">
        <h4>Mixed Veg</h4>
        <span>Starters</span>
      </div>
      <img src="../../../../../assets/images/gallery/images/mixedveg.jpg" alt="Mixed Vegan">
    </div>
    <div class="images__items-item">
      <div class="wrapper">
        <h4>Frozen Yogurt</h4>
        <span>Starters</span>
      </div>
      <img src="../../../../../assets/images/gallery/images/frozenyogurt.jpg" alt="Frozen Yogurt">
    </div>
    <div class="images__items-item">
      <div class="wrapper">
        <h4>Stuffed Meat</h4>
        <span>Recipes</span>
      </div>
      <img src="../../../../../assets/images/gallery/images/stuffedmeat.jpg" alt="Meat">
    </div>
    <div class="images__items-item">
      <div class="wrapper">
        <h4>Fruit Salad</h4>
        <span>Dessert</span>
      </div>
      <img src="../../../../../assets/images/gallery/images/fruitsalad.jpg" alt="Salad">
    </div>
   </div>
   <div class="images__btn">
    <app-btn-primary routerLink="/menu" [btnText]="'See all dishes'" [textColor]="'accent'"></app-btn-primary>
   </div>
  </section>
</div>