@import '../../../scss/common';

.accent {
  background-color: $color-accent;
  padding: $gap calc($gap*2);
  border: 1px solid $color-accent;
  color: $color-primary;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $color-accent;
  }
}