<div class="container">
  <section class="blog">
    <div class="blog__header">
      <div class="blog__header-subtitle">
        <app-subtitle [text]="blogData.type"></app-subtitle>
        <app-subtitle [text]="blogData.date"></app-subtitle>
      </div>
      <div class="blog__header-title">
        <h2>{{blogData.title}}</h2>
      </div>
      <div class="blog__header-text">
        <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content making.</p>
      </div>
    </div>
    <div class="blog__image">
      <img src="{{blogData.image}}" alt="Image">
    </div>
    <div class="blog__content">
      <div class="blog__content-descr">
        <p>Uniquely matrix economically sound value through cooperative technology. Competently parallel task fully researched data and enterprise process improvements. Collaboratively expedite quality manufactured products via client-focused results quickly communicate enabled technology and turnkey leadership skills. Uniquely enable accurate supply chains rather than friction technology.</p>
      </div>
      <div class="blog__content-text">
        <h5>Perfect Food for all Hungry Livings</h5>
        <p>Objectively integrate enterprise-wide strategic theme areas with functionalized infrastructures ipsum Interactively  productized premium technologies where as interdependent quality vectors rapaciously utilize enterprise experiences via 24/7 markets.</p>
        <ul>
          <li>Neque sodales ut etiam sit amet nisl purus non tellus orci ac auctor</li>
          <li>Adipiscing elit ut aliquam purus sit amet viverra suspendisse potent</li>
          <li>Mauris commodo quis imperdiet massa tincidunt nunc pulvinar</li>
        </ul>
      </div>
      <div class="blog__content-comment">
        <p>“Eating is not merely a material pleasure. Eating well gives a spectacular joy to life and contributes immensely to goodwill and happy companionship. It is of great importance to the morale. we'll be better in terms of our healthcare situation.”</p>
      </div>
      <div class="blog__content-text">
        <h5>What burger recipes exist you can follow?</h5>
        <p>At risus viverra adipiscing at tellus integer feugiat pretium fusce id velit ut tortor sagittis scelerisque purus semper eget lectus urna duis convallis porta nibh venenatis crase sed felis egets neque laoreet  aliquam nunc lobortis mattis aliquam faucibus purus in.</p>
        <ul>
          <li>Neque sodales ut etiam sit amet nisl purus non tellus orci ac auctor</li>
          <li>Adipiscing elit ut aliquam purus sit amet viverra suspendisse potent</li>
          <li>Mauris commodo quis imperdiet massa tincidunt nunc pulvinar</li>
        </ul>
      </div>
    </div>
  </section>
</div>