<div class="container">
  <section class="team">
    <div class="team__title">
      <div class="team__title-subtitle">
        <app-subtitle [text]="'team'"></app-subtitle>
      </div>
      <div class="team__title-title">
        <h4>Meet Our Professional Chefs</h4>
      </div>
    </div>
    <div class="team__chefs">
      <app-team-card *ngFor="let team of teamData"
      [teamImage]="team.image"
      [teamName]="team.name"
      [teamJob]="team.job"></app-team-card>
    </div>
  </section>
</div>