@import '../../../../scss/common';

.navbar {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas: "links socials";
  padding: calc($gap * 1.5) 0;
  margin-top: calc($gap * 3);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: $color-gray;
  }
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: $color-gray;
  }

  &__links {
    grid-area: links;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-link {
      color: $color-light;
      cursor: pointer;
      &.active {
        color: $color-accent;
      }
      &:hover {
        color: $color-accent;
      }
    }
  }
  &__socials {
    grid-area: socials;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    gap: $gap;
    @include sm {
      gap: calc($gap / 2);
    }
    &-item {
      cursor: pointer;
      i {
        font-size: 25px;
        color: $color-light;
        @include sm {
          font-size: 18px;
        }
      }
    }
  }
}