<div class="line"></div>
<div class="container">
  <div class="navbar" [@fadeIn]="animationState$ | async">
    <div class="navbar__links" *ngIf="width > 992" #links>
      <a routerLink="home" routerLinkActive="active" class="navbar__links-link">Home</a>
      <a routerLink="about" routerLinkActive="active" class="navbar__links-link">About</a>
      <a routerLink="menu" routerLinkActive="active" class="navbar__links-link">Menu</a>
      <a routerLink="booking" routerLinkActive="active" class="navbar__links-link">Reservation</a>
      <a routerLink="gallery" routerLinkActive="active" class="navbar__links-link">Gallery</a>
      <a routerLink="blog" routerLinkActive="active" class="navbar__links-link">Blog</a>
      <a routerLink="contact" routerLinkActive="active" class="navbar__links-link">Contact</a>
    </div>
    <div class="navbar__burger" *ngIf="width < 992">
      <app-burger></app-burger>
    </div>
    <div class="navbar__socials">
      <app-socials></app-socials>
    </div>
  </div>
</div>
<div class="line"></div>