@import '../../../../../scss/common';

.container {
  @extend %container;
  .team {
    display: flex;
    flex-direction: column;
    gap: calc($gap * 2);
    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $gap;
      @include ul {
        grid-template-columns: repeat(2, 1fr);
      }
      @include md {
        grid-template-columns: 1fr;
      }
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}